version: '3.9'

services:
  postgres:
    image: postgres:17-alpine
    container_name: highload-postgres
    environment:
      POSTGRES_DB: highload-db
      POSTGRES_USER: highload-user
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    networks:
      - highload

networks:
  highload:
    name: highload
