version: '3.9'

services:
  postgres:
    image: postgres:17-alpine
    container_name: highload-postgres
    environment:
      POSTGRES_DB: highload-db
      POSTGRES_USER: highload-user
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U highload-user -d highload-db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - highload

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: highload-app
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/highload-db
      - SPRING_DATASOURCE_USERNAME=highload-user
      - SPRING_DATASOURCE_PASSWORD=12345678
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - highload

networks:
  highload:
    name: highload
