services:
  postgres-master:
    image: postgres:17-alpine
    container_name: highload-master
    environment:
      POSTGRES_DB: highload-db
      POSTGRES_USER: highload-user
      POSTGRES_PASSWORD: 12345678
    ports:
      - "5432:5432"
    volumes:
      - "$PWD/volumes/postgres-master:/var/lib/postgresql/data"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U highload-user -d highload-db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - highload

  postgres-slave-1:
    image: postgres:17-alpine
    container_name: highload-slave-1
    depends_on:
      postgres-master:
        condition: service_healthy
    environment:
      POSTGRES_PASSWORD: "12345678"
    volumes:
      - "$PWD/volumes/postgres-slave-1:/var/lib/postgresql/data"
    ports:
      - "15432:5432"
    networks:
      - highload

  postgres-slave-2:
    image: postgres:17-alpine
    container_name: highload-slave-2
    depends_on:
      postgres-master:
        condition: service_healthy
    environment:
      POSTGRES_PASSWORD: "12345678"
    volumes:
      - "$PWD/volumes/postgres-slave-2:/var/lib/postgresql/data"
    ports:
      - "25432:5432"
    networks:
      - highload

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - highload

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - highload
    depends_on:
      - prometheus

networks:
  highload:
    name: highload
    driver: bridge
